@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC&family=Righteous&display=swap);

body{
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color : #ffcc5c;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 0px;
}

.navigazione a{
    background-color: #ffeead;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Lato', serif;
}
.navigazione a:hover{
    background-color: lightblue;
    color: black;
}

header{
    display: flex;
    position: relative;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

header img{
    height: 500px;
    width: 100%;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 500px;
    width: 100%;
}
    
#overlay h1 {
    top: 320px;
    text-align: center;
    position: relative;
    color: white;
    font-size: 3.7em;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
}

#feed{
    background-color: rgba(0,0,0,0);
    display: flex;
    height: auto;
    width: 50%;
    padding: 0 40px 0 40px;
    margin: 20px auto 20px auto;
    flex-direction: column;
    font-family: Arial;
}

.griglia_post{
    margin-top: 20px;
    margin-bottom: 20px;
}

.griglia_post p{
    text-align: justify;
    font-family: 'Lato', arial;
}

.griglia_post img{
    width: 100%;
    margin-top: 20px;
}



#finale{
    display: flex;
    background-color: rgba(89, 156, 69, 0.9);
    position: relative;
    justify-content: center;
    z-index:99;
    align-items: center;
    font-family: 'Lato', arial;
    margin-top:60px;
}

.fin{
    text-align: center;
    color:#ffffff;
}

/*INTEGRAZIONE API*/

form{
    width: 66%;
    margin: 40px auto 10px auto;
    text-align: center;
    font-family: 'Lato', arial;
}

#global-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.1);
    height: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}

#global-view .container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    max-height: 190px;
    max-width: 190px;
}

.container img{
    max-height: 100%;
    max-width: 100%;
}

/*LIKES*/
.griglia_post .like{
    display: flex;
    margin: 5px 0 20px 0;
    padding-right: 20px;
    border-radius: 4px;
    cursor: pointer;
    height: 23px; 
    width: 20px;
    background: url('images/cuore_1.png') no-repeat;
    background-size: 17px;
    background-color: #f4e1d2;
    background-position: 12%;
}

.like span, .liked span{
    padding-top: 3px;
    padding-left: 27px;
    display: inline-block;
    font-size: 14px;
}

.griglia_post .liked{
    display: flex;
    margin: 5px 0 20px 0;
    padding-right: 20px;
    border-radius: 4px;
    cursor: pointer;
    height: 23px; 
    width: 20px;
    background: url('images/cuore_2.png') no-repeat;
    background-size: 17px;
    background-color: #f4e1d2;
    background-position: 12%;
}


/*MOBILE*/

@media (max-width: 700px){
    header, header img{
        height: 300px;
    }
    #overlay{
        height: 300px;
    }
    #overlay h1 {
        top: 160px;
        font-size: 2.4rem;
    }
    .foot{
        font-size: 12px;
    }
}

