@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

body{
    display: flex;
    background-color: white;
    font-family: 'Fira Sans', Helvetica, Arial;
    font-size: 1.1em;
    font-weight: 300;
}

.session{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 460px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 4px;

}

.sx{
    width: 220px;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sb3JmdWwlMjB3YWxscGFwZXJ8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dx{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

form{
    display: flex;
    background: whitesmoke;
    padding: 0px 30px;
    height: 460px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0px;
    width: 180px;
}

form span{
    opacity: 0;
    margin: 5px auto 10px;
    font-size: 11px;
    transition: opacity 0.3s ease;
}

#log{
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    background-color: #87bdd8;
    color: #ffffff;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

#log:hover{
    background-color: #b7d7e8;
}

input{
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.notvalid label{
    color: rgb(255, 2, 2);
}

.notvalid span{
    color: rgb(255, 2, 2);
    font-size: 10px;
    opacity: 1;
}

.notvalid input{
    color: rgb(255, 2, 2);
}

div .container{
    height: 30px;
}

form p{
    font-size: 0.8em;
    margin-top:10px;
}

form .error{
    opacity: 3;
    padding: 4px 10px;
    background: #ffe2e2;
    border-radius: 7px;
    color: #fa1c2c;
    margin: 5px;
    font-size: 12px;
    display: inline-block;
}

.submit{
    margin-top: 10px;
}

/*MOBILE*/

@media(max-width: 500px){
    .sx{
        width: 120px;
        height:500px;
    }
    form{
        padding: 0px 40px 0px 40px;
        height: 500px;
    }
    div .container{
        height: 40px;
    }
    input{
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
}