@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');


body{
    margin: 0 auto;    
    font-family: 'Lato', arial;
}

#menu h1{
    width:300px;
    font-size: 20px;
}


#global_spoti{
    display: flex;
    margin: 0 auto;
    top: 100px;
    position: absolute;
}

#contenitore{
    margin: 0 auto;
    margin-top:100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#contenitore .visualizza{
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 320px;
    display:flex;
    flex-direction: column;
    max-height: auto;
}

.visualizza p{
    font-size: 12px;
    text-align: justify 
}

.visualizza h1{
    font-size: 15px;
    text-align: justify 
}

.visualizza h5{
    font-size: 15px;
    text-align: justify 
}

.visualizza img{
    height: 280px;
    width: 280px;
    margin: 0 auto;
}

#cerca_canzoni{
    margin-top: 100px;
    text-align: center;
}

#cerca_canzoni div{
    font-size: 15px;
}

/*VISUALIZZAZIONE USERNAME responsive*/

h1.usern{
    font-size: 2px;
    color:#456056;

}

@media (max-width: 300px) {
    #menu h1{
        font-size: 10px;
    }
}